body {
  font-family: "Roboto Mono", monospace;
  min-width: 400px;
  background-image: url("https://thumbs.dreamstime.com/b/invente-um-d%C3%B3lar-americano-est%C3%A1tua-da-liberdade-em-fundo-preto-128520274.jpg");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 92vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

#resultado {
    color: #ffffff;
    margin-top: 5px;
}

input, button {
  margin-top: 5px; 
  padding: 5px;
  text-align: center;
}

#moedas {
 padding: 5px; 
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
